# Notebookの中でStreamlitを使う方

Notebookの中で[Streamlit](https://docs.streamlit.io/)を使う事が可能です。

**:bulb: 注意点:**
> Notebookの中でStreamlitのコードを書き、実行するのは可能です。もう作成された別の場所であるStreamlitのアプリを呼ぶことが出来ないです。
>
> もしもう作成された別の場所であるStreamlitのアプリをNotebookの中で使いたいなら、そのStreamlitアプリのコードをコピーし、Notebookにpasteする必要があります。


Streamlitを使う為に、Streamlitと他の必要なライブラリを以下のように`import`する必要があります。

```python
import streamlit as st
```

In [ ]:
import streamlit as st
import pandas as pd

In [ ]:
st.header('Streamlit is working!')
slider = st.slider(label='My Slider', min_value=0, max_value=10)

## Notebookではpythonセルが他のセルのデータをアクセ出来ます。

他のセルのデータをアクセ出来為に、そのセルのセル名が必要です。
Snowflakeが自動的に`cell1`、`cell2`ようなセル名を生成します。\
`cell#`形も、`cells.cell#`形も使えます。

```python
print(cell1)
print(cells.cell1)
```

In [ ]:
-- データの準備

create or replace table dummy_sales_table 
(ID INTEGER, Region Varchar, Sales INTEGER);

In [ ]:
insert into dummy_sales_table
values (1, 'China', 100),
 (2, 'Japan', 70), 
 (3, 'US', 120),
 (4, 'France', 30),
 (5, 'Germany', 90);

In [ ]:
select * 
from dummy_sales_table;

In [ ]:
print(cell7)

In [ ]:
# cell7の結果を Pandas dataframeに変える
my_df = cell7.to_pandas()

# Chart the data
st.subheader("Sales in 3 key countries")
st.bar_chart(data=my_df, x='REGION', y='SALES')

## Python セルのデータをSQLセルで使える

 Python セルのデータをSQLセルで使う為に、`variable`名をSQLセルで `{{ variable名 }}`として書いてください。

In [ ]:
just_num = 12

In [ ]:
select {{ just_num }} as number_referenced_from_python_cell;

### StreamlitセルのデータをSQLセルで使う方法

StreamlitはPythonライブラリので、Streamlitセルのデータを上にように、`{{ variable名 }}`、形を使って使います。\
Streamlitはインテラクティブなので、Streamlitのデータの価値が変わったら、Streamlitのデータを使っているSQLセルが自動的に再実行されります。

In [ ]:
table_name = st.selectbox(label='見たい例名を選択してください', 
                  options=['dummy_sales_table', 'some_other_table'])

row_count = st.number_input(label='見たい行数を入力してください', 
                            value=1, 
                            min_value=1, 
                            max_value=100)

In [ ]:
select * 
from {{ table_name }}
limit {{ row_count }};